.mystyle {
    // visibility: hidden;
    }
.myicon {
    width: auto;
    height: auto;
    margin: auto 10px;
    transform: rotate(180deg);
   }
.card {
    width: auto;
    height: auto;
    display: flex;

    &__header {
        width: 100%;
        height: auto;
        display: flex;
        background: #D9D9D9;
        flex-direction: column-reverse;
        &__naving {
            width: 65%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            size: 14px;
            &__columnOne ,
            &__columnTwo,
            &__columnThree {
                width: auto;
                height: auto;
                display: flex;
                justify-content: center;
                margin: 20px auto;
                background-color: white;
                align-items: baseline;
                border-radius: 8px 8px 8px 8px;
                &__header {
                    width: auto;
                    height: auto;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    &__title {
                        width: 190px;
                        height: 40px;
                        display: flex;
                        justify-content: space-between;
                        p {
                            width: auto;
                            height: auto;
                            margin: auto 5px;
                        }
                        img {
                            width: auto;
                            height: auto;
                            margin: auto 10px;
                        }
                    }
                    &__modal {
                        width: auto;
                        height: 100%;
                        display: none;
                        justify-content: space-between;
                        flex-direction: column;
                        &.active {
                            display: flex;
                        }
                        &__input {
                            position: relative;
                            width: auto;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            span.glyphicon-search{
                                position: absolute;
                                right: 15px;
                                width: 10%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            span.glyphicon-remove{
                                position: absolute;
                                right: 40px;
                                width: 10%;
                                height: 100%;
                                display: none;
                                justify-content: center;
                                align-items: center;
                                font-size: 10px;
                                &.active {
                                    display: flex;                                
                                 }
                            }
                        }
                        &__list {
                        
                            button {
                            width: 190px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            border: none;
                            background-color: white;
                            display: block;
                            // font-size: 12px;
                           
                            &.active {
                               background-color: #FFD15B;     
                            }
                            }
                        }
                    }
                }
            }
        }
        &__total {
            width: 20%;
            height: auto;
            display: flex;
            margin: auto auto;
            flex-direction: row;
            justify-content: flex-end;
        }
        &__todolist {
            width: 95%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: auto auto;
            justify-content: flex-start;
            border: solid 2px rgb(115, 113, 113);
            border-radius: 10px;
            margin: 0px 0px 15px 0px;
            &__content {
                position: relative;
                width: auto;
                height: 100%;
                display: flex;
                margin: 10px;
                border: 1px solid black;
                border-radius: 8px 8px 8px 8px;
                background-color: #FFD15B;   
                &__list {
                    width: auto;
                    height: 80%;
                    display: flex;
                    margin: 0px 12px 0px 6px;
                    background-color: #FFD15B;
                }  &__delete {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    display: flex;
                    margin-bottom: 18px;
                    background-color: red;
                    border: 1px solid black;
                    border-radius: 50%;
                    justify-content: center;
                    align-items: center;
                    top: 11px;
                    right: 0px;
                }
            }
        }
    }
    &__all {
        width: 100%;
        height: auto;
        // border: solid 4px red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #D9D9D9;
        &__recette {
            width: 35vh;
            height: auto;
            display: flex;
            flex-direction: column;
            border-radius: 10px 10px 0px 0px;
            background-color: white;
            margin-bottom: 40px;
            &__img {
                position: relative;
                width: 35vh;
                height: auto;
                // height: 18vh;
                display: flex;
                flex-direction: row;
                border-radius: 10px 10px 0px 0px;

                img {
                    width: 70.3vh;
                    height: 23vh;
                    display: flex;
                    object-fit: cover;
                    border-radius: 10px 10px 0px 0px;
                }
            }

            &__header {
                position: absolute;
                width: 36vh;
                height: auto;
                display: flex;
                flex-direction: row-reverse;

                &__content {
                    width: 9vh;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    background-color: #FFD15B;
                    border-radius: 2vh;
                    margin-top: 2vh;
                    margin-right: 4vh;
                    padding: 0.7vh 1vh;
                }
            }

            &__body {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                font-size: 18px;
                &__content {
                    width: 90%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &__texte  {
                        &__p{
                            font-size: 12px;
                        }
                    size: 14px;
                    }
                    &__title {
                        width: auto;
                        height: auto;
                        display: flex;
                        font-weight: 700;
                        font-size: 16px;
                        padding: 20px 0px;
                    }
                 

                    &__recette {
                        width: auto;
                        height: auto;
                        display: flex;
                        font-size: 10px;
                       
                    }

                    &__ingredients {
                        width: auto;
                        height: auto;
                        display: flex;
                        flex-direction: column;

                        &__items {
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            font-size: 7px;

                            &__boucle {
                                width: 50%;
                                height: auto;
                                margin-bottom: 20px;
                                font-size: 10px;

                                &__title {
                                    width: 100%;
                                    height: auto;

                                    &__p {
                                        width: 100%;
                                        height: auto;
                                        font-weight: 500;
                                        line-height: 0em;
                                    }
                                }

                                &__quantity {
                                    width: 100%;
                                    height: auto;

                                    &__p {
                                        width: 100%;
                                        height: auto;
                                        line-height: 1em;
                                    }
                                }
                            }

                        }
                    }
                }

            }
        }
    }
}
.toggle-up {
    animation-name: toggle-up;
    animation-delay: 0.25s;
    animation-duration: 0.75;
    animation-fill-mode: forwards;
}
.toggle-down {
    animation-name: toggle-down;
    animation-delay: 0.25s;
    animation-duration: 0.75;
    animation-fill-mode: forwards;
}
/* animation */
@keyframes toggle-up {
    100% {
        transform: rotate(180deg);
    }
}
@keyframes toggle-down {
    100% {
        transform: rotate(180deg);
    }
}
